@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../public/assets/fonts/Roboto-Bold.ttf') format('truetype');
    /* Diğer font formatları için gerekli eklemeleri yapın (woff, woff2, etc.) */
  }
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../public/assets/fonts/Roboto-Regular.ttf') format('truetype');
    /* Diğer font formatları için gerekli eklemeleri yapın (woff, woff2, etc.) */
  }